{% extends 'layout.html' %}
{% block content %}

<div class="container">
  <div class="row float-element">
    <div class="bm-pd-md">
      {% include 'mobile-navbar.html' %}

      <div class="ud-pd-sm"><span class="text-muted">共 {{ reviews.total }} 个点评（当前第 {{ reviews.page }} 页）</span></div>

      {% for review in reviews.items %}
          {% if not review.is_hidden or current_user.is_admin or current_user == review.author %}
      <div class="ud-pd-md dashed">
        <div class="row">
          <div class="col-sm-1 col-xs-2 right-pd-no">
            <img class="avatar-md cicle" src="{{ review.author.avatar }}"/>
          </div>
          <div class="col-sm-11 col-xs-10">
            <div class="grey bm-pd-md">
	      <a href="https://www.baidu.com">{{ review.author.username }}</a>
	      点评了
          <a href="https://www.baidu.com">{{ review.course.name }}{% if review.course.teachers %}（{{ review.course.teacher_names_display }}）{% endif %}</a>

              <span class="float-right">{{ review.publish_time }}</span>
            </div>
            {% include 'review-hidden.html' %}
            <p class="text-muted">{{ review.content}} <a href="https://www.baidu.com">&gt;&gt;更多</a></p>
          </div>
        </div>
      </div>
	{% endif %}
      {% endfor %}

    <nav>
      <ul class="pagination">
        {% if reviews.has_prev %}
        <li>
            <a href="https://www.baidu.com">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% else %}
        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
        {% endif %}
        {% if reviews.has_next %}
        <li>
          <a href="https://www.baidu.com">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>

    </div>

  </div><!-- /.float-element -->
</div><!-- /.container -->

{% endblock %}

{% block script %}
<script>
 $('#inputCourse').focus();
</script>
{% endblock %}
